<div class="container">
    <div class="scoreContainer">
      <h2 class="text">P1: 0</h2>
      <h2 class="text">P2: 0</h2>
    </div>
    <canvas #canvas class="gameCanvas"></canvas>
    <div class="controls">
      <button class="text text--black controls__button" (click)="snake1.changeDirection('up')">&#8593;</button>
      <div class="leftrightControls">
        <button class="text text--black controls__button" (click)="snake1.changeDirection('left')">&#8592;</button>
        <button class="text text--black controls__button" (click)="snake1.changeDirection('right')">&#8594;</button>
      </div>
      <button class="text text--black controls__button" (click)="snake1.changeDirection('down')">&#8595;</button>
    </div>
  </div>

