<div class="container">
<app-home-menu></app-home-menu>
  <h3 class="text text--red">{{this.errorMsg}}</h3>
<h3 class="text">Sign Up</h3>
<form (ngSubmit)="onSubmit(signupForm)" class="form" #signupForm="ngForm">
  <input type="text" class="form__item" placeholder="Username" [(ngModel)]="model.username" name="username" #username="ngModel">
  <input type="email" class="form__item" placeholder="Email Address" [(ngModel)]="model.email" name="email" #email="ngModel">
  <input type="password" class="form__item" placeholder="Password" [(ngModel)]="model.password" name="password" #password="ngModel">
  <input type="password" class="form__item" placeholder="Repeat Password" [(ngModel)]="model.repeatPassword" name="repeatPassword" #repeatPassword="ngModel">
  <button type="submit" class="form__item">Sign Up</button>
</form>
</div>

